#montanha {
   border: 5px solid #60656f;
   border-radius: 5px;
   box-shadow: 5px 5px #999da3;

   position: absolute;
   overflow: hidden;
}

#skier {
   position: absolute;
   
}

.para-direita {
   background-image: url(skier.png);
   background-position: -25px -6px;
   width: 22px;
   height: 28px;
}

.para-esquerda {
   background-image: url(skier.png);
   background-position: -26px -43px;
   width: 22px;
   height: 28px;
}

.para-frente {
   background-image: url(skier.png);
   background-position: -67px -2px;
   width: 15px;
   height: 32px;
}

@keyframes skie-levantando { 
   0% { 
      background-image: url(levantar0.png);
      width: 34px;
      height: 26px;
   }

   59.9% { 
      background-image: url(levantar0.png);
      width: 34px;
      height: 26px;
   }



    60% { 
      background-image: url(levantar1.png);
      width: 29px;
      height: 33px;
   }

    68% { 
      background-image: url(levantar1.png);
      width: 29px;
      height: 33px;
   }

    68.1% { 
      background-image: url(levantar2.png);
      width: 24px;
      height: 32px;
   }

   76.1% { 
      background-image: url(levantar2.png);
      width: 24px;
      height: 32px;

   }

   76.2% { 
      background-image: url(levantar3.png);
      width: 24px;
      height: 32px;

   }

   84.2% { 
      background-image: url(levantar3.png);
      width: 24px;
      height: 32px;

   }



   84.3% { 
      background-image: url(levantar4.png);
      width: 17px;
      height: 32px;
   }

   92.3% { 
      background-image: url(levantar4.png);
      width: 17px;
      height: 32px;
   }

   92.4% { 
      background-image: url(levantar5.png);
      width: 18px;
      height: 34px;
   }

   100% { 
      background-image: url(levantar5.png);
      width: 18px;
      height: 34px;
   }


}

.skie-levantando { 
   width: 34px;
   height: 34px;
   animation-name: skie-levantando;
   animation-duration: 2.4s;
}

.skier-caido { 
   background-image: url(skier.png);
   background-position: -82px -82px;
   width: 34px;
   height: 27px;
}

.skier-caido-morto { 
   background-image: url(skier.png);
   background-position: -241px -2px;
   width: 32px;
   height: 31px;
}

#abominavel-monstro-das-neves { 
   position: absolute;
}

.amdn-anim-correr-direita { 
   background-image: url(amdn-anim-correr-direita.gif);
   width: 26px;
   height: 44px;
}
.amdn-anim-correr-esquerda { 
   background-image: url(amdn-anim-correr-esquerda.gif);
   width: 25px;
   height: 42px;
}

.amdn-anim-frente { 
   background-image: url(amdn-anim-frente.gif);
   width: 32px;
   height: 40px;
}

.amdn-anim-gameover { 
   background-image: url(amdn-anim-gameover.gif);
   width: 33px;
   height: 41px;
}

.amdn-anim-gameover-noLoop { 
   background-image: url(amdn-anim-gameover-noLoop.gif);
   width: 33px;
   height: 41px;
}


.cogomelo {
   background-image: url(obstacles.png);
   background-position: -270px -50px ;   
   width: 10px;
   height: 12px;   
   position: absolute;
}

.anim-arbusto-em-chamas { 
   background-image: url(anim-arbusto-em-chamas.gif);
   width: 22px;
   height: 27px;   
   position: absolute;
}

.rocha { 
   background-image: url(obstacles.png);
   background-position: -29px -51px;   
   width: 25px;
   height: 12px;   
   position: absolute;
}

.toco-de-arvore { 
   background-image: url(obstacles.png);
   background-position: -253px -52px ;   
   width: 16px;
   height: 12px;   
   position: absolute;
}

.arvore {
   background-image: url(obstacles.png);
   background-position: -0px -31px;   
   width: 28px;
   height: 32px;   
   position: absolute;
}

.arvore-grande { 
   background-image: url(obstacles.png);
   background-position: -96px -66px ;   
   width: 33px;
   height: 64px;   
   position: absolute;
}

.cachorro { 
   background-image: url(cachorro.gif);
   width: 21px;
   height: 19px;   
   position: absolute;
}


#container { 
   position: relative;
}


#painel {
   border: 10px solid #60656f;
   border-radius: 10px;
   background-color: #24347e;
   box-shadow: 5px 5px #999da3;
   width: 400px;
   height: 100px;
   position: absolute;
   margin-left: 350px;
   padding: 10px;
}

.fonte { 
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;  
   color: #f6e84d;
}

.cinza { 
   font-color: ;
 }

